{% extends "blog_base.html" %}

{% block title %}Список статей{% endblock %}

{% block content %}
    <header>
        <h1>Блог</h1>
    </header>

    <!-- Пошук -->
    <form method="get">
        <input type="text" name="q" value="{{ search_query }}" placeholder="Пошук за назвою...">
        <button type="submit">Шукати</button>
    </form>

    <!-- Фільтрація за тегами -->
    <div class="tags">
        <h4>Фільтрація за тегами:</h4>
        <ul>
            <li><a href="?" class="{% if not selected_tag_slug %}active{% endif %}">Всі</a></li>
            {% for tag in tags %}
            <li>
                <a href="?tag={{ tag.slug }}" class="{% if tag.slug == selected_tag_slug %}active{% endif %}">
                    {{ tag.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Відображення статей -->
    {% for post in posts %}
    <article>
        {% if post.main_image %}
            <div style="width: 66%; margin: 0 auto;">
                <img src="{{ post.main_image.url }}" alt="{{ post.title }}" style="width: 100%; height: auto; aspect-ratio: 16/9; object-fit: cover;">
            </div>
        {% endif %}
        <h2><a href="{% url 'blog_detail' slug=post.slug %}">{{ post.title }}</a></h2>
        <p>{{ post.published_date|date:"d M Y" }} — Автор: {{ post.author }}</p>
        <p>{{ post.content|truncatechars:200 }}</p>
    </article>
    {% empty %}
    <div class="no-results">
        <p>Немає статей за вашим запитом.</p>
    </div>
    {% endfor %}
{% endblock %}
