{% extends "base/base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Huhy Space — це простір для настільних ігор, творчості та відпочинку. Зіграйте в улюблені ігри, розкрийте свій творчий потенціал і насолоджуйтесь затишком.">
    <meta name="keywords" content="настільні ігри, творчість, відпочинок, Huhy Space, D&D, Warhammer, майстер-класи, 3D друк">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Головна | Huhy Space">
    <meta property="og:description" content="Huhy Space — це простір для настільних ігор, творчості та відпочинку. Зіграйте в улюблені ігри, розкрийте свій творчий потенціал і насолоджуйтесь затишком.">
    <meta property="og:image" content="{% static 'images/banner.jpg' %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.jpg' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
{% block content %}
    <!-- Шапка з навігацією -->
{# {% include "base/header.html" %}#}

    <!-- Банер з головним слоганом -->
    {% include "home/sections/first_banner.html" %}

    <!-- Секція "Ігри" -->
    {% include "home/sections/games.html" %}

    <!-- Секція "Про нас" -->
    {% include "home/sections/about.html" %}

    <!-- Секція "Календар подій" -->
    {% include "home/sections/calendar.html" %}

    <!-- Секція "Залиште контакти" -->
    {% include "home/sections/contact.html" %}

    <!-- Підвал з контактами -->
{#    {% include "base/footer.html" %}#}

    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.min.js"></script> -->
    <script src="{% static 'js/calendar.js' %}"></script>

{% endblock %}
</body>
