{% extends "base/base.html" %}
{% load static %}

{% block title %}Дякуємо | Huhy Space{% endblock %}

{% block content %}
<main class="confirmation-content">
    <div class="container">
        <div class="confirmation-message">
            <h1 class="confirmation-title">Дякуємо, заявку надіслано!</h1>
            <p class="confirmation-text">Незабаром наш менеджер звʼяжеться з вами і розповість про всі деталі.</p>
            <a href="{% url 'home' %}" class="btn confirmation-btn">На головну</a>
        </div>
    </div>
</main>
{% endblock %}
