<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дякуємо | Huhy Space</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% include 'base/header.html' %}

    <main class="confirmation-content">
        <div class="container">
            <div class="confirmation-message">
                <h1 class="confirmation-title">Дякуємо, заявку надіслано!</h1>
                <p class="confirmation-text">Незабаром наш менеджер звʼяжеться з вами і розповість про всі деталі.</p>
                <a href="{% url 'home' %}" class="btn confirmation-btn">На головну</a>
            </div>
        </div>
    </main>

    {% include 'base/footer.html' %}
</body>

</html>
