{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<section id="about" class="about-section">
    <h1 id="about" class="about-h">Про нас</h1>
    <!-- Карусель -->
    <div class="carousel-container">
        <div class="slides">
            <div class="slide">
                <img src="{% static 'images/people.jpg' %}" alt="First Image">
                <div class="text-overlay">
                    <h4 class="carousel-text-bottom-title">Люди</h4>
                    <p class="carousel-text-bottom">Наші люди - це наша найголовніша цінність. Гравці то наші друзі, а
                        команда - родина. До речі,
                        зустрічі усіх членів
                        команди завжди починаються і закінчуються обіймашками.</p>
                </div>
            </div>
            <div class="slide">
                <img src="{% static 'images/mike.jpg' %}" alt="Second Image">
                <div class="text-overlay">
                    <h4 class="carousel-text-bottom-title">Затишок</h4>
                    <p class="carousel-text-bottom">Спейс створювався за принципом «як вдома». Рослини, пледи, свічки,
                        дивани, на яких можна вмоститися з книжкою чи
                        вʼязанням. А якщо раптом любиш сидіти на підлозі чи сходах - у нас для цього є спеціальні
                        подушки.</p>
                </div>
            </div>
            <div class="slide">
                <img src="{% static 'images/emotions.jpg' %}" alt="Third Image">
                <div class="text-overlay">
                    <h4 class="carousel-text-bottom-title">Емоції</h4>
                    <p class="carousel-text-bottom">Або, як написав про нас один з наших гостей - «трохи крейзі». Шалені
                        ідеї, нестримна фантазія, сміх і веселощі - все це
                        зовсім не суперечить концепції затишку, а прекрасно доповнює його.</p>
                </div>
            </div>
            <div class="slide">
                <img src="{% static 'images/candies.jpg' %}" alt="Forth Image">
                <div class="text-overlay">
                    <h4 class="carousel-text-bottom-title">Смаколики</h4>
                    <p class="carousel-text-bottom">Бо з ситим драконом спілкуватись набагато краще, ніж з голодним - це
                        знає кожен гравець DnD (читай вище у блоці про
                        настільно-рольові ігри, якщо не знаєш що це).</p>
                </div>
            </div>
        </div>
        <!-- Кнопки перемикання -->
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>
    </div>
</section>

<!-- Секція "Про нас" (під каруселлю) -->
    <section class="about-section">
        <div class="about-item">
            <img src="{% static 'images/library.jpg' %}" alt="Library Image">
            <h3>Ігротека</h3>
            <p>На наших полицях можна знайти ігри від великої компанії, веселу та активну до стратегій на 3-4 години
                гри. Також вас
                чекають новинки з світової виставки настільних ігор Essen Spiel !</p>
        </div>
        <div class="about-item">
            <img src="{% static 'images/workshops.jpg' %}" alt="3D Print Image">
            <h3>3D друк</h3>
            <p>Давно мріяли грати за свого власного персонажа? Або для вашої пригоди потрібен унікальний монстр? Чи вам
                потрібна модель
                для відливу чи статуетка на подарунок? У нас можна замовити 3D друк у якості 4К і не доведеться чекати
                тижні на доставку
                з-за кордону!</p>
        </div>
        <div class="about-item">
            <img src="{% static 'images/people.jpg' %}" alt="Workshops Image">
            <h3>Майстер класи</h3>
            <p>Можливо цікавить плетіння кольчуги? Ні? А мейкап? Також ні… Тоді у нас є вязання, плетіння бісеру,
                малювання мініатюр і
                ще багато іншого. Знайдемо цікавинку для кожного!</p>
        </div>
        <div class="about-item">
            <img src="{% static 'images/rent.jpg' %}" alt="Room Rental Image">
            <h3>Оренда кімнати</h3>
            <p>Ви можете орендувати приміщення під:</p>
            <ul>
                <li>проведення зустрічей;</li>
                <li>настільно-рольові ігри;</li>
                <li>івенти;</li>
                <li>майстер-класи;</li>
            </ul>
        </div>
    </section>

<script src="{% static 'js/carousel.js' %}"></script>