{% load static %}
<section id="calendar" class="calendar-section">
        <h2 class="calendar-header">Календар подій</h2>
        <div class="filters">
            <!-- Поле для вибору дати -->
            <div style="position: relative; display: inline-block;">
                <input type="text" id="date-picker" placeholder="Оберіть день" style="padding: 8px; font-size: 1rem; width: 200px; border: 1px solid #ccc; border-radius: 5px;">
{#                <div id="date-picker-buttons" style="margin-top: 5px; display: flex; gap: 10px; justify-content: center;">#}
{#                    <button type="button" id="today-btn" style="padding: 5px 10px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">Сьогодні</button>#}
{#                    <button type="button" id="tomorrow-btn" style="padding: 5px 10px; background-color: #28a745; color: white; border: none; border-radius: 5px; cursor: pointer;">Завтра</button>#}
{#                </div>#}
            </div>

            <select id="master-filter">
                <option value="">Майстер</option>
            </select>
            <select id="system-filter">
                <option value="">Система</option>
            </select>
        </div>

        <div class="pagination-container">

            <div id="calendar-events">
                <div class="event-card">
                </div>
            </div>

        </div>
        <div class="button-container">
            <button id="prev-btn" disabled>←</button>
            <button id="next-btn">→</button>
        </div>

        <span id="events-url" data-url="{% url 'events_api' %}"></span>

    </section>

    <!-- Підключення Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/uk.js"></script>

    <script>
        // Ініціалізація Flatpickr з українською локалізацією
        const datePicker = flatpickr("#date-picker", {
            enableTime: false,
            dateFormat: "Y-m-d",
            locale: "uk", // Установка локалізації на українську
        });

        // Кнопка "Сьогодні"
        document.getElementById("today-btn").addEventListener("click", () => {
            const today = new Date().toISOString().split('T')[0];
            datePicker.setDate(today);
        });

        // Кнопка "Завтра"
        document.getElementById("tomorrow-btn").addEventListener("click", () => {
            const tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1);
            datePicker.setDate(tomorrow.toISOString().split('T')[0]);
        });
    </script>

<script src="{% static 'js/calendar.js' %}"></script>