{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<section class="banner">
        <div class="banner-content">
            <div class="text-container">
                <span class="left">Грай</span>
                <span class="middle">Твори</span>
                <span class="right">Відпочивай</span>
            </div>
        </div>
        <img src="{% static 'images/banner.jpg' %}" alt="Banner Image" class="banner-image">
    </section>

    <div class="under-banner">
        <p class="under-banner-bold">Пориньте у світ фантазії, де пригодам немає меж!</p>
        <p class="under-banner-bold-text">Уяви себе в ролі мага, лиходія, лицаря чи ельфійського рейнджера, де ти
            визначаєш свою долю та переживаєш захопливі пригоди</p>
    </div>