{% load static %}
<section id="games" class="games-section">
        <h2>У нас можна пограти в...</h2>
        <div class="games-container">
            <div class="first-game">
                <img class="dd-img" src="{% static 'images/dd.png' %}" alt="D&D Image">
                <h3 class="dd-name">Підземелля та Дракони (D&D)</h3>
                <p class="dd-text">Тривалість 4 години \ кількість людей 5 \ Ідеально для новачків</p>
                <p class="dd-text">Ця гра вважається класикою і стала фундаментом жанру. Ви можете створювати своїх
                    героїв, виконувати квести, битися з монстрами та розкривати захоплюючі історії у фантастичному світі.
                </p>
            </div>
            <div class="other-games">
                <div class="game">
                    <img src="{% static 'images/vampire.jpg' %}" alt="Vampire Masquerade Image">
                    <h3>Вампіри: Маскарад</h3>
                    <p>Тривалість 4 години \ кількість людей 5 \ Для досвідчених гравців</p>
                    <p>Ти будеш грати за вампіра що приховує свою істинну сутність від людського світу. Головну роль
                        відіграє рольова інтеракція та взаємодія між гравцями, де вчинки та рішення мають великий вплив
                        на подальший розвиток історії. Розкрийте  секрети клану, вступай в союзи, виживай у конфліктних 
                        ситуаціях та розкриває свою внутрішню сутність.</p>
                </div>
                <div class="game">
                    <img src="{% static 'images/coriolis_edit.jpg' %}" alt="Coriolis Image">
                    <h3>Коріоліс.Третій Горизонт</h3>
                    <p>Тривалість 4 години \ кількість людей 5 \ Для новачків та досвідчених гравців</p>
                    <p>Уяви собі казки 1001 Ночі, сагу Зоряні війни та фільми Чужий. Якщо подобається то гра саме для
                        тебе. Відкритий космос, свій корабель та команда, космічні баталії, сутички різних фракцій за 
                        планети та станції, безліч можливостей для заробітку. Ці всі пригоди чекають на тебе у 
                        Міжзоряній Темряві!</p>
                </div>
                <div class="game">
                    <img src="{% static 'images/vessen.jpg' %}" alt="Vessen Image">
                    <h3>Вессен</h3>
                    <p>Тривалість 4 години \ кількість людей 5 \ Для новачків та досвідчених гравців</p>
                    <p>Гра переносить вас в глушини північних лісів Європи 19 століття. Тут міф було змішано із
                        реальністю, а міста, що перетворилися на флагмани індустріалізації, співіснують із неосяжними 
                        просторами півночі, що сповнені таємничих створінь. Вони завжди в тіні. Вони будуть полювати на 
                        кожного, хто насмілився вступити до їхніх володінь. І пам'ятайте, людський ірраціональний страх 
                        темного лісу має реальне втілення.</p>
                </div>
                <div class="game">
                    <img src="{% static 'images/warhammer.jpg' %}" alt="Warhammer Image">
                    <h3>Вархаммер 40.000</h3>
                    <p>Тривалість 4 години \ кількість людей 5 \ Для досвідчених гравців</p>
                    <p>Ви перенеслись у 40.000 рік існування людства. Вас чекає темна космічна сага в якій є тільки
                        війна. Ви можете стати:</p>
                    <ul>
                        <li>помічниками великого Інквізитора та не допустити Ересь;</li>
                        <li>вільними торговцями які шукають цінні товари та фінансову вигоду;</li>
                        <li>особистими гвардійцями Бога Імператора та берегти Золотий Трон;</li>
                        <li>стати учасником Чорного Хрестового Походу проти єретиків та зрадників;</li>
                        <li>Станьте тим хто зможе увіковічнити своє ім'я у Хроніках Імперіуму.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
