<!-- base/header.html -->
{% load static %}
<header id="SITE_HEADER" class="SITE_HEADER">
    <nav class="navbar">
        <a href="https://www.huhy.space" class="logo">
            <img src="{% static 'images/huhy_white.jpg' %}" alt="ХУХИ Logo">
        </a>
        <ul class="nav-links" id="nav-links">
            <li><a href="#games">Ігри</a></li>
            <li><a href="#about">Про нас</a></li>
            <li><a href="#calendar">Календар</a></li>
            <li><a href="https://t.me/hyhu_space" target="_blank">Записатись</a></li>
        </ul>
        <div class="menu-icon" onclick="toggleMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
        </div>
    </nav>
</header>

<script>
    function toggleMenu() {
        const navLinks = document.getElementById("nav-links");
        navLinks.classList.toggle("active");
    }
</script>
